<%= render "components/navbar" %>
<div class="background ">
  <div class="row headings">
    <div class="col-12">
      <h1>MAXIME</h1>
      <h1 class="didry">DIDRY</h1>
      <h2 class="element"></h2>
      <h1>DEVELOPPEUR</h1>
      <h1 class="didry">CRÉATIF</h1>
    </div>
  </div>
</div>
<div class="container sticky">
  <hr class="solid" id="hr-solid">
  <div class="row">
    <div class="col-12">
      <p>Je crée des applications web et des sites internets avec tout l’Amour, la Créativité, et le Savoir Faire que j’ai. Je m’amuse aussi à toucher à l’UX design pour vous proposer des projets et produits toujours plus pro.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2>Hard-Skills</h2>
    </div>
  </div>
  <div class="row row-hard">
<div class="col-12 hard-skills">
  <%= image_tag('25231.png', class:'logo') %>
  <%= image_tag('Rails.png', class:'logo') %>
  <%= image_tag('javascript-logo.png', class:'logo')  %>
  <%= image_tag('5968704.png', class:'logo')%>
</div>

  </div>
  <div class="row">
      <div class="col-12 savoir-faire">
        <h2>Savoir Faire</h2>
          <span>lorem ipsum lorem ipsum lorem ipsum</span><br>
          <span>lorem ipsum lorem ipsum lorem ipsum</span><br>
          <span>lorem ipsum lorem ipsum lorem ipsum</span><br>
          <span>lorem ipsum lorem ipsum lorem ipsum</span><br>
          <span>lorem ipsum lorem ipsum lorem ipsum</span><br>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2>Background</h2>
      <ul>
        <li>J’ai fait un Bac Littéraire</li>
        <li>J’ai travaillé 6 ans en restauration en France et à l’international</li>
        <li>J’ai réalisé le bootcamp du WAGON</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2>Mon Portfolio</h2>
    </div>
    <div class="col-12">
      <%= link_to image_tag('wm42.jpg', class:'folio-img')%>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2>Mes Soft Skills</h2>
    </div>
    <div class="col-4">
      <ul>
        <li>Curieux</li>
        <li>Créatif</li>
        <li>Autonome</li>
        <li>Travail d’équipe</li>
        <li>Adaptabilité</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h3>Pourquoi travailler avec moi ?</h3>
      <h3>Pourquoi travailler avec moi ?</h3>
      <ul>
          <li>lorem ipsum lorem ipsum lorem ipsum</li>
          <li>lorem ipsum lorem ipsum lorem ipsum</li>
        </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2>Contactez-moi</h2>
    </div>
    <div class="col-6">
      <%= link_to %>
      <%= link_to %>
      <%= link_to %>
      <%= link_to %>
      </div>
    </div>
</div>
<script>
window.onscroll = function() {myFunction()};

function myFunction() {
  if (document.documentElement.scrollTop > 2000) {
    document.getElementById("myP").className = "scroll";
  } else {
    document.getElementById("myP").className = "";
  }
}
</script>
